.DS_Store

**/node_modules
**/target
**/*.log
**/*.log.*

.nx/cache
.nx/workspace-data
.github/instructions/nx.instructions.md

/.vscode/**/*
!/.vscode/extensions.json
!/.vscode/settings.json
!/.vscode/launch.json
!/.vscode/tasks.json
