[workspace]
resolver = "3"
members = ["apps/app/src-tauri"]

[workspace.package]
edition = "2024"
authors = ["you"]
repository = "https://your/repo/"

[profile.release]
codegen-units = 1
opt-level = "s"
lto = "fat"
incremental = false
panic = "abort"
