[workspace]
resolver = "3"
members = ["apps/app/src-tauri"]

[workspace.package]
edition = "2024"
repository = "https://your/repo/"

[profile.release]
opt-level = "s"
lto = "fat"
panic = "abort"
incremental = false
codegen-units = 1
