:root {
	--color-bg0: #222;
	--color-text100: #434343;
	--color-text400: #fefefe;
	--color-accent100: #434343;
	--color-accent400: #fefefe;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-bg0: #fefefe;
		--color-text100: #dedede;
		--color-text400: #222;
		--color-accent100: #dedede;
		--color-accent400: #222;
	}
}
