@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color: theme(colors.neutral.950);
	background-color: theme(colors.neutral.50);
}

@media (prefers-color-scheme: dark) {
	:root {
		color: theme(colors.neutral.100);
		background-color: theme(colors.neutral.950);
	}
}

#app-root {
	width: 100vw;
	height: 100vh;
}
