@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background-primary: #222;
	--color-text-primary: #fefefe;

	background-color: var(--color-background-primary);
}

@media (prefers-color-scheme: light) {
	:root {
		--color-background-primary: #fefefe;
		--color-text-primary: #222;
	}
}

#app-root {
	width: 100vw;
	height: 100vh;
}
