@import url("./style/theme.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: var(--color-background-primary);
}

#app-root {
	width: 100vw;
	height: 100vh;
}
