name: Build

on:
  workflow_dispatch:

jobs:
  test-lint:
    name: Test and lint
    uses: ./.github/workflows/test-lint.yml
    secrets: inherit

  build:
    name: Build
    needs: test-lint
    permissions:
      contents: write
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
        id: setup
      - uses: ./.github/actions/get-app-properties
        id: properties
        with:
          app_path: apps/app
      - name: Build
        run: bun build:${{ matrix.os == 'windows-latest' && 'win' || 'mac' }}
      - name: Upload artifact
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.properties.outputs.product_name }}_${{ steps.properties.outputs.version }}-${{ matrix.os == 'windows-latest' && 'windows' || 'macos' }}
          path: ${{ matrix.os == 'windows-latest' && 'target\x86_64-pc-windows-msvc\release\bundle\nsis\*.exe' || 'target/universal-apple-darwin/release/bundle/dmg/*.dmg' }}
          if-no-files-found: error
          overwrite: true
